p {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
}
ul {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
}
ol {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	line-height: 1.3em;
}
